html {
    background-color: darkgoldenrod;
    color: darkred;
}

.pElem {
    margin: 20px;
    border: double;
    border-color: firebrick;
    padding: 20px;
    background-color: darkslateblue;
    color: deepskyblue;
    font-size: 20px;
    display: inline-block;
}

#koponyeg {
    width: 1325px;
}