@font-face {
    font-family: OswaldMedium;
    src: url(/fonts/oswald/Oswald-Medium.ttf);
}

html {
    background: lightblue;
}

#navbar {
    font-size: 20px;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:blue;
    text-align: center;
}

h2 {
    color: indianred;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h3 {
    color: red;
    font-family:fantasy;
}

#elsoH3 {
    color: maroon;
}
#elsoP{
    text-transform: capitalize;
}

p {
    color: saddlebrown;
    font-family: "OswaldMedium";
    text-align: justify;
}

img {
    height: 300px;
}

#rendezetlenLista {
    font-size: 20px;
}

.tartalom {
    font-size: large;
}
.kover {
    font-size: 25px;
}
.kepek {
    background-color: crimson;
    margin: 1%;
    border: solid 2px black;
    padding: 10px;
    box-shadow: 3px 3px 2px grey;
}